name: CD

on:
  push:
    branches:
      - master
  pull_request: # temporary
    branches:
        - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - name: Install dependencies
      run: pip install -e ".[build]"

    - name: Build package
      run: make build

    - name: Check build
      run: make check-build

    - name: Publish to PyPI
      run: make publish-test
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
